<div class="col-md-12">
    <div class="col-md-12">
      <br>
      <br>
      <br>
      </div>
        <div class="col-md-12">
          <div class="text-center">
            <h3>Movies in Bangalore</h3>
          </div>
          <br>
          <br>
          <div *ngFor="let movie of movies; let i = index;">
            <div class="col-md-4">
              <mat-card class="example-card" id = "movie-card-{{i}}">
                <mat-card class="example-card" >
                <mat-card-header>
                  <mat-card-title>{{ movie.movie_name }}</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="{{movie.movie_poster}}" height="300px" width="400px">
                <mat-card-content >
                  <p>
                    {{ movie.movie_overview }}
                  </p>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
      </div>
    </div>